*{
       margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    background-image:url('imagenes/fondo.jpg') ;
}


general{
    height: 70%;
    width: 70%;
    background: black;
    margin-top: 10px;
    display: block;
    color: white;
    margin: auto;
    margin-top: 10px;
    padding: 2%;
    border: red 4px outset;
   
}

p{
    text-align: justify;
}